*, *::before, *::after {
    box-sizing: border-box;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

body, #root, p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
}

.container {
    background-image: radial-gradient(circle at 100% 0%, rgb(240, 195, 205) 0%, rgb(55, 35, 35) 80%);
    border: 1px solid rgb(55, 35, 35);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35),
        inset 0.1rem 0.1rem 0.1rem 0rem rgb(55, 35, 35);
    margin: 0 auto;
    width: min(95vw, 80rem);
}

main {
    margin: 0rem auto;
    min-height: min(80vh, 50rem);
    width: min(95vw, 80rem);
}

h1, h2, h3 {
    font-family: 'Gentium Book Plus', serif;
}

h1 {
    font-size: min(9vw, 3rem);
}

h2 {
    font-size: min(7.5vw, 2.75rem);
}

h3 {
    font-size: min(6vw, 2.25rem);
}

header {
    background-color: rgba(55, 35, 35, 0.75rem);
    margin: 0rem auto;
    min-height: min(15vh, 5rem);
    padding: 0.25rem 0rem;
    width: min(95vw, 80rem);

    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
}

.book_pic {
    grid-column: 1/2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book_pic img {
    padding: 0.25rem 1rem;
}

.book_pic h3 {
    color: white;
    padding: 0rem 1rem;
    text-shadow: 0.1rem 0.1rem 0rem black,
        0.1rem 0.1rem 0.5rem black;
}

.library {
    color: rgb(250, 205, 215);
}

/* *********************************** //
//              NAVAGATION             //
// *********************************** */

ul.nav_links {
    grid-column: 2/3;
    list-style: none;
    padding: 0rem 0rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0.5rem;
}

ul.nav_links li {
    background-image: radial-gradient(circle at 100% 0%, rgb(190, 145, 155) 0%, rgb(160, 115, 125) 100%);
    border: 1px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0rem rgb(55, 35, 35),
        0.05rem 0.05rem 0rem 0.1rem rgb(55, 35, 35),
        inset 0.1rem 0.1rem 0.1rem 0rem white;
    color: white;
    font-size: min(5vw, 1rem);
    margin: 0.1rem 0.1rem;
    min-width: min(30vw, 7rem);
    padding: 0.25rem 0.5rem;
    text-align: center;

}

ul.nav_links a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0rem black,
        0.1rem 0.1rem 0.5rem black;
}

/* *********************************** //
//                 HERO                //
// *********************************** */

.hero {
    background-image: url(./public/pexels-juan-pablo-serrano-arenas-877971-library-3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(55, 35, 35);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    margin: 0rem auto;
    height: min(35vh, 40rem);
    min-height: 15rem;
    overflow: hidden;
    width: min(95vw, 80rem);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero_text {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0rem auto;
    padding: 1.5rem 1.5rem;
    text-shadow: 0.1rem 0.1rem 0rem black,
    0.1rem 0.1rem 0.5rem black;
    width: min(80%, 40rem);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.hero_text h1 {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 0rem 1rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0rem black,
        0.1rem 0.1rem 0.5rem black;
}

.hero_text p {
    font-size: min(5vw, 1rem);
    padding: 0rem 1rem;
    text-align: center;
}

/* *********************************** //
//                BUTTONS              //
// *********************************** */

.btn {
    background-image: radial-gradient(circle at 100% 0%, rgb(190, 145, 155) 0%, rgb(160, 115, 125) 100%);
    border: 1px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0rem rgb(55, 35, 35),
        0.05rem 0.05rem 0rem 0.1rem rgb(55, 35, 35),
        inset 0.1rem 0.1rem 0.1rem 0rem white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: min(4vw, 1rem);
    margin: 0.25rem auto;
    width: min(30vw, 7rem);
    padding: 0.25rem 0.25rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0rem black,
        0.1rem 0.1rem 0.5rem black;
}

.modal_close_btn {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.25rem 0rem rgb(55, 35, 35),
        0.05rem 0.05rem 0rem 0.05rem rgb(55, 35, 35),
        inset 0.1rem 0.1rem 0.1rem 0rem white;
    float: right;
    margin-right: 0rem;
    padding: 0rem 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
}

.search_btn, .import_libCSV_btn {
    margin: 0 auto;
}

.del_btn, .add_btn, .display_lib_btn, .delete_lib_btn, .export_libCSV_btn, .save_btn, .toggle_read {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_btn, .cancel_btn {
    background-image: radial-gradient(circle at 100% 0%, rgba(85, 65, 65, .5) 0%, rgba(55, 35, 35, .5) 100%);
}

.del_btn, .add_btn, .toggle_read {
    width: min(17vw, 5rem);
}

.save_btn, .display_lib_btn, .delete_lib_btn, .export_libCSV_btn, .import_libCSV_btn, .search_btn {
    min-height: 2.5rem;
    width: min(33.5vw, 12rem)
}

.form_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    justify-content:space-evenly;
    align-items: center;
}

.page_button {
    font-size: min(3.5vw, 1rem);
}

.page_buttons {
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    max-width: max-content;
    margin: 0 auto;
}
    
/* *********************************** //
//                MODAL                //
// *********************************** */

.confirmation {
    position: fixed;
    z-index: 10;
    top: 25vh;
    bottom: 25vh;
    left: 10vw;
    right: 10vw;
    background-image: url("./public/pexels-emre-can-acer-2079451-library-partial-800px.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    margin: 0 auto;
    max-height: 20rem;
    max-width: 30rem;
    padding: min(3vw, 1rem);
    text-align: center;
    vertical-align: middle;
}

.confirmation p {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    font-size: min(5vw, 1.5rem);
    margin: 0 auto;
    padding: min(3vw, 1rem);
    text-align: center;
}

.confirmation_container, .searching_container {
    background-color: rgba(100, 100, 100, 0.5);
    display: none;
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.searching {
    position: fixed;
    z-index: 10;
    top: 25vh;
    bottom: 25vh;
    left: 10vw;
    right: 10vw;
    background-color: rgba(190, 145, 155, 0.75);
    border: 2px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    margin: 0 auto;
    max-height: 10rem;
    max-width: 25rem;
    padding: min(3vw, 1rem);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.searching p {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    font-size: min(7vw, 2.5rem);
    margin: 0 auto;
    padding: min(10vw, 2rem);
    text-align: center;
    vertical-align: middle;
}

/* *********************************** //
//              CAROUSEL               //
// *********************************** */

.carousel_container {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    border: 1px solid rgb(55, 35, 35);
    height: min(max(45vh, 35vw), 45rem);
    min-height: 20rem;
    padding: 1rem 0rem;
    margin: 0rem auto;
    position: relative;
    text-align: center;
    width: min(85vw, 75rem);
}
            
.carousel {
    height: 100%;
    list-style: none;
    margin: 0rem auto;
}

.card {
    height: 100%;
    margin: 0rem auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform-style: preserve-3d;
}

li.slide > div {
    display: block;
    object-fit: contain;
    object-position: center;
    transform-style: preserve-3d;
}

li.slide[data-active] {
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.carousel_button {
    position: absolute;
    background: none;
    border: none;
    font-size: min(8vw, 4rem);
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    background-color: rgba(55, 35, 35, .25);
}
         
.carousel_button:hover,
.carousel_button:focus {
    color: white;
    background-color: rgba(160, 115, 125, 0.5);
}

.carousel_button.prev {
    left: 0.25rem;
}

.carousel_button.next {
    right: 0.25rem;
}

/* *********************************** //
//                BOOK                 //
// *********************************** */

.card > .book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.pages {
    backface-visibility: visible;
    height: max(min(30vh, 25rem), min(25vw, 25rem));
    min-height: 15rem;
    position: relative;
    transform-style: preserve-3d;
}

.pages > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6, .pageR, .pageL {
    border-left: 1px solid rgba(55, 35, 35, .75);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    height: 100%;
    top: 0;
    left: min(2vw, 0.25rem);
    position: absolute;
    width: min(35vw, 19rem);
    transform-origin: left center;
    transform-style: preserve-3d;
}

.front, .back {
    background-color: rgb(190, 145, 155);
    border: 2px solid rgb(190, 145, 155);
}

.front {
    transform: rotateY(-160deg) scale(1.1);
}

.page1 {
    background-color: rgb(230, 230, 230);
    transform: rotateY(-155deg) scale(1.1);
}

.page2 {
    background-color: rgb(230, 230, 230);
    transform: rotateY(-30deg) scale(1.1);
}

.page3 {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-150deg) scale(1.1);
}

.page4 {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-35deg) scale(1.1);
}

.page5 {
    transform: rotateY(-145deg) scale(1.1);
}

.page6 {
    transform: rotateY(-40deg) scale(1.1);
}

.page5, .page6 {
    background-color: rgb(250, 250, 250);
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    transform: rotateY(-25deg) scale(1.1);
}

.page5 h3, .page6 h3 {
    grid-column: 1/2;
    line-height: min(7vw, 2.25rem);
    margin: 0;
    padding: 0.25rem 0.25rem;
}

.page5 p, .page6 p {
    grid-column: 1/2;
    font-size: min(3.5vw, 1.5rem);
    margin: 0;
    padding: 0.125rem 0.125rem;
}

.page5 h3, .page5 p, .page_button {
    transform: rotateY(-180deg);
}

.pageR {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-36deg) scale(1.1);
}

.pageL {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-149deg) scale(1.1);
}

.animate {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-150deg) scale(1.1);
    transition: transform 1s ease-in-out;
}

.rev_animate {
    background-color: rgb(240, 240, 240);
    transform: rotateY(-30deg) scale(1.1);
    transition: transform 1s ease-in-out;
}

/* *********************************** //
//                FORM                 //
// *********************************** */

.form_container {
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgb(55, 35, 35);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    margin: 1rem auto;
    padding: 0.25rem auto;
    width: min(85vw, 75rem);

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.form_container h2 {
    display: block;
    grid-column: 1/2;
    margin: 0rem auto;
}

.form_border {
    border: 2px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    grid-column: 1/2;
    margin: 0.25rem 1rem;
    padding: 0.5rem 0.5rem;
    max-width: min(80vw, 73rem);
}

.form {
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: min(5vw, 1rem);
    margin: 0.25rem auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    column-gap: 0.5rem;
}

fieldset {
    border: 0;
    margin: 0 auto;
    width: min(70vw, 30rem);
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: min(5vw, 1rem);
    margin: 0.1rem auto;
    margin-top: 0.75rem;
    padding: 0.25rem 1rem 0.25rem 0rem;
    width: min(70vw, 30rem);
}

input {
    border: 1px solid rgb(55, 35, 35);
    font-family: 'Roboto', sans-serif;
    font-size: min(5vw, 1rem);
    margin: 0.1rem auto;
    margin-bottom: 0.75rem;
    padding: 0.5rem 0.5rem;
    width: min(70vw, 30rem);
}

input:focus:invalid {
    outline: 1px solid red;
}

#import_file {
    padding: 0.27rem 1rem;
}

.search_import_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    column-gap: 0.5rem;
}

/* *********************************** //
//      TOGGLE INPUT (CHECKBOX)        //
// *********************************** */

.toggle {
    align-items: center;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.75rem;
    width: 3.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_display {
    position: absolute;
    border: 1px solid rgb(55, 35, 35);
    border-radius: 2rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle_display:before {
    position: absolute;
    border: 1px solid rgb(55, 35, 35);
    border-radius: 50%;
    content: "";
    height: 1.25rem;
    width: 1.5rem;
    left: 0.1rem;
    bottom: 0rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .toggle_display {
    background-color: rgb(190, 145, 155);
}
  
input:focus + .toggle_display {
    box-shadow: 0 0 1px rgb(160, 115, 125);
}
  
input:checked + .toggle_display:before {
    -webkit-transform: translateX(1.75rem);
    -ms-transform: translateX(1.75rem);
    transform: translateX(1.75rem);
}

/* *********************************** //
//               TABLE                //
// *********************************** */

.table_container {
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgb(55, 35, 35);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(55, 35, 35);
    margin: 0rem auto;
    padding: 0.25rem auto;
    text-align: center;
    width: min(85vw, 75rem);

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.table_container h2 {
    display: block;
    grid-column: 1/2;
    margin: 0rem auto;
}

.table_container p {
    padding: 0rem 0.25rem;
}

.search_title, .lib_title, .modal_header h2 {
    color: rgb(55, 35, 35);
    text-align: center;
}

table {
    border: 2px solid rgb(55, 35, 35);
    border-radius: 0.5rem;
    border-collapse: collapse;
    display: inline-block;
    grid-column: 1/2;
    margin: 0.25rem auto;
    overflow-x: scroll;
    padding: 0rem auto;
    position: relative;
    text-align: center;
    max-width: min(80vw, 73rem);
}

tr {
    border: 1px solid rgb(190, 145, 155);
}

th {
    font-weight: bolder;
    padding: 0.5rem 1rem;
}

td {
    padding: 0.5rem 1rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

/* *********************************** //
//               FOOTER                //
// *********************************** */

footer {
    max-width: 75rem;
    min-height: min(10vh, 5rem);
    text-align: center;
    margin: 0rem auto;
    padding: 1rem 1rem;
}

footer p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: min(5vw, 0.75rem);
    text-shadow: 0.1rem 0.1rem 0rem black,
    0.1rem 0.1rem 0.5rem black;}
       