* {
    box-sizing: border-box;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

body, #root, p {

}

header {

}

.logo {

}

ul.nav_links {
    list-style: none;
}

main {

}

.hero {

}

.hero_text {

}

.form_container {

}

.btn {

}

.add {

}

.close_button {

}

.search_btn {

}

.save_btn {

}
       
.modal {

}

.modal_header {

}

form {

}

.overlay {

}

.carousel_container {

}
            
.carousel {

}
                  
footer {

}
       